.button {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #666;
  cursor: pointer;
  color: #000;
  padding: 6px 12px;
  margin: 6px;

  &.primary {
    background: dodgerblue;
    border: none;
    color: #fff;
  }
  &.danger {
    background: red;
    border: none;
    color: #fff;
  }
}
